@use '@angular/material' as mat;

@include mat.core();

$my-app-primary: mat.define-palette(mat.$blue-grey-palette, 500);
$my-app-accent: mat.define-palette(mat.$pink-palette, 500, 900, A100);
$my-app-warn: mat.define-palette(mat.$deep-orange-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-app-primary,
   accent: $my-app-accent,
   warn: $my-app-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);